{% include base_path %}

<!-- start custom head snippets -->

<meta name="theme-color" content="#ffffff">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
<meta name="theme-color" content="#ffffff">

<script type="application/ld+json"> 
{ 
"@context": "http://schema.org",
"@type": "Person",
"name": "Oriol J. Bosch",
"email": "mailto:o.bosch-jover@lse.ac.uk",
"image": "http://orioljbosch.com/images/circle profile pic.png",
"jobTitle": "Survey Methodologist",
"affiliation": "The London School of Economics",
"alumniOf": "University of Essex",
"birthPlace": "Barcelona, Spain",
"gender": "male",
"honorificSuffix": "PhD",
"nationality": "Spain",
"url": "http://www.orioljbosch.com",
"sameAs" : [
"http://twitter.com/orioljbosch",
"http://github.com/orioljbosch",
"https://orcid.org/0000-0001-6057-8179"] 
} </script>

<!-- end custom head snippets -->
